<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>mydata</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <style media="screen">
      p{
        color:#ffffff;
        font-family: 'Abril Fatface', cursive;
        border:3px solid black;
        border-radius: 5%;
      }
      h1{
          color:black;
          font-family: 'Abril Fatface', cursive;
          font-size: 3.5em;
      }
    </style>
  </head>
  <!-- <body style='background:url("{% static "weather.jpg" %}");'> -->
  <body style="background-color:powderblue">
    <br>
    <h1 class=" text-center">Enter a city name for determine its temperature</h1>
    <form class=""action="" method="post">
      <div class="form-group">
        {% csrf_token %}
        <div class="container py-5" >
          <div class="row">
            <div class="col-md-6">
              <input type="search" name="s" class="form-control" value="">

            </div>
            <div class="col-md-6">
              <input type="submit" name="" value="search" class="btn btn-success">

            </div>
            <br>
            <br>
            <br>
                  <div class="">
                    <div class="col-md-6 p-3">


                      <p style="margin-left:30px;height:220px;width:300px;color:black;font-size:1.6em;">Present temperature of {{city}} is :{{a}} &#x2103; <br>&nbsp{{description}}<img src="{% static "" %}/{{icon}}.png" alt="" height=100,width=100></p>
                    </div>


                  </div>
                  <div class="">
                    <div class="col-md-6 p-3">
                      <p style="margin-left:30px;height:220px;width:300px;color:black;font-size:1.6em;">Max temperature of {{city}} is :{{b}} &#x2103; </p>

                    </div>


                  </div>
                  <div class="">
                    <div class="col-md-6 p-3">
                      <p style="margin-left:30px;height:220px;width:300px;color:black;font-size:1.6em;">Min temperature of {{city}} is :{{c}} &#x2103; </p>

                    </div>

                  </div>
                  <div class="">
                    <iframe src={{map}} width="1050" height="300" frameborder="0" style="border:0;margin-left:42px" allowfullscreen></iframe>
                  </div>
            {% if alpha %}
                <div class="">
                  <div class="col-md-6 p-3">
                    <p style="margin-left:120px;height:150px;width:800px;color:black;text-align: center;font-size:3.5em;">{{alpha}} </p>

                  </div>
                </div>

            {% endif %}

        </div>

      </div>
    </div>
  </form>

</body>
</html>
